html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
  -webkit-background-clip: padding-box;
  color: #000000;
  font-size: 14px;
	background: #0D0D0D;
}

h1 {
	font-family: 'Abril Fatface', cursive;
}


button {
	outline: none;
	border: none;
	user-select: none;
}

ul {
	margin: 0;
	padding: 0;
	li {
    display: block;
	list-style: none;
	}
}

a, a:visited,a:hover,a:focus,a:active {
	text-decoration: none;
}

a {
	color: #0D0D0D;
}
input:focus {
	outline: none;
}

label {
	display: block;
  	text-align: left;
}

strong {
  	font-weight: bold;
}

p {
	margin: 0px;
}
